 <div class="form-group">
  {% for method in methods %}
    {% if method.id is not 'account_money' %}
      <div style="{{ payment_style }}" id="{{ method.name }}">
        {% if mp_standard_methods and method.id in mp_standard_methods %}
          <img src="{{ method.secure_thumbnail }}"><br/>
          <input name="mp_standard_methods[]" type="checkbox" checked="yes" value="{{ method.id }}" style="margin-left:25%;">
        {% else %}
          <img src="{{ method.secure_thumbnail }}"><br/>
          <input name="mp_standard_methods[]" type="checkbox" value="{{ method.id }}" style="margin-left:25%;">
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>
