{{ header }}{{ column_left }}
<div id="content">
  
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button id="btn_save" type="submit" form="form_mp" data-toggle="tooltip" class="btn btn-primary">{{ button_save }}<i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">{{ button_cancel }}<i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">

    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i>Edit MercadoPago</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form_mp" class="form-horizontal">
          {# Set module enable/disable option #}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_mp_standard_status" id="input-status" class="form-control">
                {% if payment_mp_standard_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          {# Set the country that the payment gateway will operate #}
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="mp_standard_country_id">{{ entry_country }}</label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_standard_country" id="country">
                <option id="MLA" {% if mp_standard_country == "MLA" %}selected="selected"{% endif %} value="MLA">Argentina</option>
                <option id="MLB" {% if mp_standard_country == "MLB" %}selected="selected"{% endif %} value="MLB">Brasil</option>
                <option id="MLC" {% if mp_standard_country == "MLC" %}selected="selected"{% endif %} value="MLC">Chile</option>
                <option id="MCO" {% if mp_standard_country == "MCO" %}selected="selected"{% endif %} value="MCO">Colombia</option>
                <option id="MLM" {% if mp_standard_country == "MLM" %}selected="selected"{% endif %} value="MLM">Mexico</option>
                <option id="MPE" {% if mp_standard_country == "MPE" %}selected="selected"{% endif %} value="MPE">Peru</option>
                <option id="MLU" {% if mp_standard_country == "MLU" %}selected="selected"{% endif %} value="MLU">Uruguai</option>
                <option id="MLV" {% if mp_standard_country == "MLV" %}selected="selected"{% endif %} value="MLV">Venezuela</option>
              </select>
            </div>
          </div>
          {# Checkout type #}
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="entry_type_checkout">{{ entry_type_checkout }}</label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_standard_type_checkout" id="mp_standard_type_checkout">
                {% for type in type_checkout %}
                  {% if ( type == mp_standard_type_checkout ) %}
                    <option value="{{ type }}" selected="selected" id="{{ type }}">{{ type }}</option>
                  {% else %}
                    <option value="{{ type }}" id="{{ type }}">{{ type }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          {# Credentials #}
          <div class="form-group required" id="div_client_id">
            {# Tooltip #}
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {{ entry_credentials_basic_tooltip }}
            </div>
            {# Client ID #}
            <label class="col-sm-2 control-label" for="mp_standard_client_id">{{ entry_credentials_client_id }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="mp_standard_client_id" name="mp_standard_client_id" value="{{ mp_standard_client_id }}" />
            </div>
            {# Client Secret #}
            <label class="col-sm-2 control-label" for="mp_standard_client_secret">{{ entry_credentials_client_secret }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="mp_standard_client_secret" name="mp_standard_client_secret" value="{{ mp_standard_client_secret }}" />
            </div>
            {# Message for absence of credentials #}
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {% if error_entry_credentials_basic %}
                <div class="text-danger">{{ error_entry_credentials_basic }}</div>
              {% endif %}
            </div>
          </div>
          {# Store Category #}
          <div class="form-group required">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {{ entry_category_tooltip }}
            </div>
            <label class="col-sm-2 control-label" for="mp_standard_category_id">{{ entry_category }}</label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_standard_category_id" id="mp_standard_category_id">
                {% for category in category_list %}
                  {% if category.id == mp_standard_category_id %}
                    <option value="{{ category.id }}" selected="selected" id="{{ category.description }}">{{ category.description }}</option>
                  {% else %}
                    <option value="{{ category.id }}" id="{{ category.description }}">{{ category.description }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          {# Debug Mode #}
          <div class="form-group required">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {{ entry_debug_tooltip }}
            </div>
            <label class="col-sm-2 control-label" for="mp_standard_debug">{{ entry_debug }}</label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_standard_debug" id="mp_standard_debug">
                {% if mp_standard_debug %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          {# Auto Return #}
          <div class="form-group required">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {{ entry_autoreturn_tooltip }}
            </div>
            <label class="col-sm-2 control-label" for="mp_standard_enable_return">{{ entry_autoreturn }}</label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_standard_enable_return" id="mp_standard_enable_return">
                {% if mp_standard_enable_return == "all" %}
                  <option value="all" selected="selected">{{ text_enabled }}</option>
                  <option value="approved">{{ text_disabled }}</option>
                {% else %}
                  <option value="all">{{ text_enabled }}</option>
                  <option value="approved" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          {# Sandbox Mode #}
          <div class="form-group required">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {{ entry_sandbox_tooltip }}
            </div>
            <label class="col-sm-2 control-label" for="mp_standard_sandbox">{{ entry_sandbox }}</label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_standard_sandbox" id="mp_standard_sandbox">
                {% if mp_standard_sandbox %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          {# Installments #}
          <div class="form-group required">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {{ entry_installments_tooltip }}
            </div>
            <label class="col-sm-2 control-label" for="mp_standard_installments">{{ entry_installments }}</label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_standard_installments" id="mp_standard_installments">
                {% for installment in installments %}
                  {% if installment.id == mp_standard_installments %}
                    <option value="{{ installment.id }}" selected="selected" id="{{ installment.id }}">{{ installment.value }}</option>
                  {% else %}
                    <option value="{{ installment.id }}" id="{{ installment.id }}">{{ installment.value }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          {# Excluded Methods #}
          {% if count_payment_methods > 0 %}<div class="form-group">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {{ entry_payments_not_accept_tooltip }}
            </div>
            <label class="col-sm-2 control-label" for="mp_standard_methods">{{ entry_payments_not_accept }}</label>
            <div class="col-sm-10" id="div_payments">
              <div style="margin-top:8px;">
                <input type="hidden" class="form-control" id="nro_count_payment_methods" name="nro_count_payment_methods" value="{{ count_payment_methods }}" />
                {% for method in methods %}
                  <div style="{{ payment_style }}" id="{{ method.name }}">
                    {% if method.id in mp_standard_methods %}
                      <img src="{{ method.secure_thumbnail }}" height="24"><br/>
                      <input name="mp_standard_methods[]" type="checkbox" checked="yes" value="{{ method.id }}" style="margin-top:25%; margin-top:4px; border:1px solid #888; width:16px; height:16px;">
                    {% else %}
                      <img src="{{ method.secure_thumbnail }}" height="24"><br/>
                      <input name="mp_standard_methods[]" type="checkbox" value="{{ method.id }}" style="margin-left:25%; margin-top:4px; border:1px solid #888; width:16px; height:16px;">
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {% if error_has_no_payments %}
                <div class="text-danger">{{ error_entry_no_payments }}</div>
              {% endif %}
            </div>
          </div>{% endif %}
          {# Order Approved #}
          <div class="form-group">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {{ entry_order_status_approved_tooltip }}
            </div>
            <label class="col-sm-2 control-label" for="mp_standard_order_status_id_completed">{{ entry_order_status_approved }}</label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_standard_order_status_id_completed" id="mp_standard_order_status_id_completed">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == mp_standard_order_status_id_completed %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          {# Order Pending #}
          <div class="form-group">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {{ entry_order_status_pending_tooltip }}
            </div>
            <label class="col-sm-2 control-label" for="mp_standard_order_status_id_pending">{{ entry_order_status_pending }}</label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_standard_order_status_id_pending" id="mp_standard_order_status_id_pending">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == mp_standard_order_status_id_pending %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          {# Order Canceled #}
          <div class="form-group">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {{ entry_order_status_canceled_tooltip }}
            </div>
            <label class="col-sm-2 control-label" for="mp_standard_order_status_id_canceled">{{ entry_order_status_canceled }}</label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_standard_order_status_id_canceled" id="mp_standard_order_status_id_canceled">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == mp_standard_order_status_id_canceled %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          {# Order In Process #}
          <div class="form-group">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {{ entry_order_status_in_process_tooltip }}
            </div>
            <label class="col-sm-2 control-label" for="mp_standard_order_status_id_in_process">{{ entry_order_status_in_process }}</label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_standard_order_status_id_in_process" id="mp_standard_order_status_id_in_process">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == mp_standard_order_status_id_in_process %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          {# Order Rejected #}
          <div class="form-group">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {{ entry_order_status_rejected_tooltip }}
            </div>
            <label class="col-sm-2 control-label" for="mp_standard_order_status_id_rejected">{{ entry_order_status_rejected }}</label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_standard_order_status_id_rejected" id="mp_standard_order_status_id_rejected">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == mp_standard_order_status_id_rejected %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          {# Order Refunded #}
          <div class="form-group">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {{ entry_order_status_refunded_tooltip }}
            </div>
            <label class="col-sm-2 control-label" for="mp_standard_order_status_id_refunded">{{ entry_order_status_refunded }}</label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_standard_order_status_id_refunded" id="mp_standard_order_status_id_refunded">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == mp_standard_order_status_id_refunded %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          {# Order In Mediation #}
          <div class="form-group">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {{ entry_order_status_in_mediation_tooltip }}
            </div>
            <label class="col-sm-2 control-label" for="mp_standard_order_status_id_in_mediation">{{ entry_order_status_in_mediation }}</label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_standard_order_status_id_in_mediation" id="mp_standard_order_status_id_in_mediation">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == mp_standard_order_status_id_in_mediation %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          {# Order Chargedback #}
          <div class="form-group">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              {{ entry_order_status_chargeback_tooltip }}
            </div>
            <label class="col-sm-2 control-label" for="mp_standard_order_status_id_chargeback">{{ entry_order_status_chargeback }}</label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_standard_order_status_id_chargeback" id="mp_standard_order_status_id_chargeback">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == mp_standard_order_status_id_chargeback %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
