{{ header }}{{ column_left }}
<div class="form-group">
{% for method in methods %}
    <div style="{{ payment_style }}" id="{{ method.name }}">
      <img src="{{ method.secure_thumbnail}}"><br /><input name="payment_mp_transparente_methods[]" type="checkbox" value="{{ method.id}}" style="margin-left:25%;">
    </div>
{% endfor %}
{{ footer }}