{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a id="btn_save" class="btn btn-primary">{{ button_save }}<i class="fa fa-save"></i></a>
        <a onclick="location = '{{ cancel }}';" class="btn btn-default">{{ button_cancel }}<i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning  %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i>Edit MercadoPago</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form_mp" class="form-horizontal">
         <div class="form-group">
          <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
          <div class="col-sm-10">
            <select name="mp_transparente_status" id="input-status" class="form-control">
              {% if mp_transparente_status  %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
               {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
              {% endif %}
            </select>
          </div>
        </div>
        <div class="form-group required">
          <label class="col-sm-2 control-label" for="mp_transparente_order_status_id">{{ entry_country }}</label>
          <div class="col-sm-10">
            <input type="hidden" value="{% if mp_transparente_country%}{{ mp_transparente_country }}{% endif %}" id="countryName" />
            <select class="form-control" name="mp_transparente_country" id="country">
             <option id="MLA" value="MLA">Argentina</option>
             <option id="MLB" value="MLB">Brasil</option>
             <option id="MLC" value="MLC">Chile</option>
             <option id="MCO" value="MCO">Colombia</option>
             <option id="MLM" value="MLM">Mexico</option>
             <option id="MPE" value="MPE">Peru</option>
             <option id="MLU" value="MLU">Uruguay</option>
             <option id="MLV" value="MLV">Venezuela</option>
           </select>
         </div>
       </div>

       <div class="form-group required" id="div_public_key">
         <label class="col-sm-2 control-label" for="mp_transparente_public_key">
          <span data-toggle="tooltip" data-trigger="click" title='{{ entry_public_key_tooltip }} '>{{ entry_public_key }}</span></label>
          <div class="col-sm-10">
           <input type="text" class="form-control" id="mp_transparente_public_key" name="mp_transparente_public_key" value="{{ mp_transparente_public_key }}" />
           {% if error_public_key_span is defined %}
             <div class="text-danger">{{ error_public_key }}</div>
           {% endif %}
         </div>
       </div>
       <div class="form-group required" id="div_access_token">
         <label class="col-sm-2 control-label" for="mp_transparente_access_token">
          <span data-toggle="tooltip" data-trigger="click" title='{{ entry_access_token_tooltip }} '>{{ entry_access_token }}</span></label>
          <div class="col-sm-10">
           <input type="text" class="form-control" id="mp_transparente_access_token" name="mp_transparente_access_token" value="{{ mp_transparente_access_token }}" />
           {% if error_access_token_span is defined  %}
             <div class="text-danger">{{ error_access_token }}</div>
           {% endif %}
         </div>
       </div>

       <div class="form-group required">
        <label class="col-sm-2 control-label" for="mp_transparente_category_id"> <span data-toggle="tooltip" data-trigger="click" title='{{ entry_category_tooltip }}'>
          {{ entry_category }}</label>
          <div class="col-sm-10">
            <select class="form-control" name="mp_transparente_category_id" id="mp_transparente_category_id">
              {% for category in category_list %}
                {% if category.id  in  mp_transparente_category_id  %}
                  <option value="{{ category.id }}" selected="selected" id="{{ category.description }}">{{ category.description }}</option>
                 {% else %}
                  <option value="{{ category.id }}" id="{{ category.description }}">{{ category.description }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group required">
          <label class="col-sm-2 control-label" for="mp_transparente_debug"><span data-toggle="tooltip" data-trigger="click" title='{{ entry_debug_tooltip }} '> {{ entry_debug }}</span></label>
          <div class="col-sm-10">
            <select class="form-control" name="mp_transparente_debug" id="mp_transparente_debug">
              {% if mp_transparente_debug  %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
              {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
              {% endif %}
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="mp_transparente_coupon"><span data-toggle="tooltip" data-trigger="click" title='{{ entry_coupon_tooltip }}'>
            {{ entry_coupon }}</span></label>
            <div class="col-sm-10">
              <select class="form-control" name="mp_transparente_coupon" id="mp_transparente_coupon">
                {% if mp_transparente_coupon  %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="mp_transparente_installments">{{ entry_installments }}</label>
            <div class="col-sm-10">
             <select class="form-control" name="mp_transparente_installments" id="mp_transparente_installments">
              {% for installment in installments %}
                {% if installment.id  in  mp_transparente_installments  %}
                  <option value="{{ installment.id }}" selected="selected" id="{{ installment.id }}">{{ installment.value }}</option>
                {% else %}
                  <option value="{{ installment.id }}" id="{{ installment.id }}">{{ installment.value }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

          {# Excluded Methods #}
          {% if methods > 0 %}
            <div class="form-group">
              <label class="col-sm-2"></label>
              <div class="col-sm-10">
                {{ entry_payments_not_accept_tooltip }}
              </div>
              <label class="col-sm-2 control-label" for="mp_transparente_methods">{{ entry_payments_not_accept }}</label>
              <div class="col-sm-10" id="div_payments">
                <div style="margin-top:8px;">
                  <input type="hidden" class="form-control" id="payment_nro_count_payment_methods" name="payment_nro_count_payment_methods" value="{{ count_payment_methods }}" />
                  {% for method in methods %}
                    <div style="{{ payment_style }}" id="{{ method.name }}">
                      {% if method.id in mp_transparente_methods %}
                        <img src="{{ method.secure_thumbnail }}" height="24"><br/>
                        <input name="mp_transparente_methods[]" type="checkbox" checked="yes" value="{{ method.id }}" style="margin-top:25%; margin-top:4px; border:1px solid #888; width:16px; height:16px;">
                      {% else %}
                        <img src="{{ method.secure_thumbnail }}" height="24"><br/>
                        <input name="mp_transparente_methods[]" type="checkbox" value="{{ method.id }}" style="margin-left:25%; margin-top:4px; border:1px solid #888; width:16px; height:16px;">
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              </div>
              <label class="col-sm-2"></label>
              <div class="col-sm-10">
                {% if error_has_no_payments %}
                  <div class="text-danger">{{ error_entry_no_payments }}</div>
                {% endif %}
              </div>
            </div>
          {% endif %}



      <div class="form-group">
        <label class="col-sm-3 control-label" for="mp_transparente_order_status_id_completed">{{ entry_order_status_general }}</label>
      </div>
      <div class="form-group required">
        <label class="col-sm-2 control-label" for="mp_transparente_order_status_id"><span data-toggle="tooltip" data-trigger="click" title='{{ entry_order_status_tooltip }} '>{{ entry_order_status }} </span></label>
        <div class="col-sm-10">
         <select class="form-control" name="mp_transparente_order_status_id" id="mp_transparente_order_status_id">
          {% for order_status in order_statuses %}
            {% if order_status.order_status_id  in  mp_transparente_order_status_id  %}
              <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
            {% else %}
              <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="mp_transparente_order_status_id_completed"><span data-toggle="tooltip" data-trigger="click" title='{{ entry_order_status_completed_tooltip }} '>{{ entry_order_status_completed }}</span></label>
      <div class="col-sm-10">
        <select class="form-control" name="mp_transparente_order_status_id_completed" id="mp_transparente_order_status_id_completed">
         {% for order_status in order_statuses %}
          {% if order_status.order_status_id  in  mp_transparente_order_status_id_completed  %}
            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
          {% else %}
            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="mp_transparente_order_status_id_pending"><span data-toggle="tooltip" data-trigger="click" title='{{ entry_order_status_pending_tooltip }} '>{{ entry_order_status_pending }}</span></label>
    <div class="col-sm-10">
      <select class="form-control" name="mp_transparente_order_status_id_pending" id="mp_transparente_order_status_id_pending">
       {% for order_status in order_statuses %}
        {% if order_status.order_status_id  in  mp_transparente_order_status_id_pending  %}
          <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
        {% else %}
          <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="mp_transparente_order_status_id_canceled">
    <span data-toggle="tooltip" data-trigger="click" title='{{ entry_order_status_canceled_tooltip }} '>{{ entry_order_status_canceled }}</span></label>
    <div class="col-sm-10">
      <select class="form-control" name="mp_transparente_order_status_id_canceled" id="mp_transparente_order_status_id_canceled">
       {% for order_status in order_statuses %}
        {% if order_status.order_status_id  in  mp_transparente_order_status_id_canceled  %}
          <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
        {% else %}
          <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="mp_transparente_order_status_id_in_process">
    <span data-toggle="tooltip" data-trigger="click" title='{{ entry_order_status_in_process_tooltip }} '>{{ entry_order_status_in_process }}</span></label>
    <div class="col-sm-10">
      <select class="form-control" name="mp_transparente_order_status_id_in_process" id="mp_transparente_order_status_id_in_process">
       {% for order_status in order_statuses %}
        {% if order_status.order_status_id  in  mp_transparente_order_status_id_in_process  %}
          <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
        {% else %}
          <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="mp_transparente_order_status_id_rejected"><span data-toggle="tooltip" data-trigger="click" title='{{ entry_order_status_rejected_tooltip }} '>{{ entry_order_status_rejected }}</span></label>
  <div class="col-sm-10">
    <select class="form-control" name="mp_transparente_order_status_id_rejected" id="mp_transparente_order_status_id_rejected">
     {% for order_status in order_statuses %}
      {% if order_status.order_status_id  in  mp_transparente_order_status_id_rejected  %}
        <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
      {% else %}
        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
      {% endif %}
    {% endfor %}
  </select>
</div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="mp_transparente_order_status_id_refunded">
    <span data-toggle="tooltip" data-trigger="click" title='{{ entry_order_status_refunded_tooltip }} '>{{ entry_order_status_refunded }}</span></label>
    <div class="col-sm-10">
      <select class="form-control" name="mp_transparente_order_status_id_refunded" id="mp_transparente_order_status_id_refunded">
        {% for order_status in order_statuses %}
          {% if order_status.order_status_id  in  mp_transparente_order_status_id_refunded  %}
            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
           {% else %}
            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="mp_transparente_order_status_id_in_mediation">
      <span data-toggle="tooltip" data-trigger="click" title='{{ entry_order_status_in_mediation_tooltip }} '>{{ entry_order_status_in_mediation }}</span></label>
      <div class="col-sm-10">
        <select class="form-control" name="mp_transparente_order_status_id_in_mediation" id="mp_transparente_order_status_id_in_mediation">
         {% for order_status in order_statuses %}
          {% if order_status.order_status_id  in  mp_transparente_order_status_id_in_mediation  %}
            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
          {% else %}
            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="mp_transparente_order_status_chargeback">
      <span data-toggle="tooltip" data-trigger="click" title='{{ entry_order_status_chargeback_tooltip }}'>
        {{ entry_order_status_chargeback }}
      </span>
    </label>
    <div class="col-sm-10">
      <select class="form-control" name="mp_transparente_order_status_chargeback" id="mp_transparente_order_status_chargeback">
        {% for order_status in order_statuses %}
          {% if mp_transparente_order_status_chargeback  and  order_status.order_status_id  in  mp_transparente_order_status_chargeback  %}
            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
          {% else %}
            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
          {% endif %}
        {% endfor %}

      </select>
    </div>
  </div>
</form>
</div>
</div>
</div>
<script type="text/javascript" src="./view/javascript/mp_transparente/mp_transparente.js"></script>
<script type="text/javascript" src="./view/javascript/mp_transparente/spinner.min.js"></script>
