<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{{ direction }}" lang="{{ language }}" xml:lang="{{ language }}">
	<head>
		<title>{{ title }}</title>
		<base href="{{ base }}" />
	</head>
	<body>
		<div class="div-ajax-carregamento-pagina"></div>
		<div>{{ "Aguarde..." }}</div>
		<script type="text/javascript"  src="./catalog/view/javascript/mp/analytics.js"></script>
		<script type="text/javascript">
		    ModuleAnalytics.setToken("{{ token }}");
			ModuleAnalytics.setPaymentId("{{ paymentId }}");
			ModuleAnalytics.setPaymentType("{{ paymentType }}");
			ModuleAnalytics.setCheckoutType("{{ checkoutType }}");
			ModuleAnalytics.put(retorno());
			function retorno() {
				setTimeout('location = \'{{ continue }}\';', 1);
			}
		</script>
	</body>
</html>
